
<!--<form [formGroup]="listForm">-->
<!--  <mat-form-field appearance="fill">-->
<!--    <mat-label>Enter a date range</mat-label>-->
<!--    <mat-date-range-input [rangePicker]="picker">-->
<!--      <input formControlName="startDate" matStartDate placeholder="Start date" (dateChange)="dateRangeChange()">-->
<!--      <input formControlName="endDate" matEndDate placeholder="End date"  (dateChange)="dateRangeChange()">-->
<!--    </mat-date-range-input>-->
<!--    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>-->
<!--    <mat-date-range-picker #picker></mat-date-range-picker>-->
<!--  </mat-form-field>-->
<!--</form>-->

<!--<table>-->
<!--  <tr>-->
<!--    <td>-->
<!--      <input type="text" appUpperLower [(ngModel)]="testInput"/>-->
<!--    </td>-->
<!--  </tr>-->
<!--</table>-->

<form [formGroup]="fois">

  <table>
    <ng-container *ngFor="let control of getFoiControls(); let i = index">
      <tr [formArrayName]="i">
        <td *ngFor="let row of getDay('' + i).controls; let j = index">
          <input [formControlName]="j" appUpperLower>
        </td>
      </tr>
    </ng-container>


  </table>

  <button type="submit" (click)="submitForm()">Submit</button>
</form>
