<div class="container">

  <h1>Test mat select</h1>
  <p>TEST TEST TEST</p>
  <mat-form-field appearance="outline">
    <mat-select placeholder="Favorite food" disableOptionCentering>
      <mat-option *ngFor="let food of foods" [value]="food.value">
        {{food.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
