
@import 'base';

p {
  color: $primary-color;
}

button{
  margin-bottom: 20px;
}

.list-wrapper{
  margin-bottom: 20px;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td{
  padding: 4px;
  min-width: 100px;
}
