

<button (click)="updateRefresh()">update refresh</button> &nbsp;&nbsp;&nbsp;
<button (click)="getRefresh()">get refresh and update</button>       &nbsp;&nbsp;&nbsp;
<button (click)="test()">test</button>

<br/> <br/>

<a routerLink="test-form">test form</a> <br/>


TEST component

To remove
