
<form [formGroup]="listForm">
  <mat-form-field appearance="fill">
    <mat-label>Enter a date range</mat-label>
    <mat-date-range-input [rangePicker]="picker">
      <input formControlName="startDate" matStartDate placeholder="Start date" (dateChange)="dateRangeChange()">
      <input formControlName="endDate" matEndDate placeholder="End date"  (dateChange)="dateRangeChange()">
    </mat-date-range-input>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>
</form>

<!--<ul *ngFor="let day of days">-->
<!--  <li>{{day}}</li>-->
<!--</ul>-->

<form [formGroup]="fois">

  <table>
    <ng-container *ngFor="let day of days; let i = index">
      <tr [formArrayName]="day">
        <td>{{day}}</td>
        <td *ngFor="let row of getDay(day).controls; let j = index">
          <input [formControlName]="j" appUpperLower>
        </td>
      </tr>
    </ng-container>


  </table>

  <button type="submit" (click)="submitForm()">Submit</button>
</form>

<button type="button" (click)="getFoiValuesForDate('01-04-2021')">Check value for date</button>
<button type="button" (click)="getFoiKeys()">Check keys</button>
